{% extends 'base.html.twig' %}

{% block title %}Articlee index{% endblock %}

{% block body %}
    <h1>les articles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for articlee in articlees %}
            <tr>
                <td>{{ articlee.id }}</td>
                <td>{{ articlee.nom }}</td>
                <td>{{ articlee.prix }}</td>
                <td>
                    <a href="{{ path('app_art_show', {'id': articlee.id}) }}">show</a>
                    <a href="{{ path('app_art_edit', {'id': articlee.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_art_new') }}">Create new</a>
{% endblock %}
